<main class="main-content min-height">
  <div class="form-section d-flex pt-5 flex-column">
    <div class="from-wrap pt-5 mt-5 px-3 mx-auto text-center marginb-35">
      <div class="mt-5 mb-4">
      </div>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let destination of destinations; let i=index;">
          <app-places-autocomplete [place]="destination" [id]="i" (selectedPlaces)="getDestinations($event)" cdkDrag
            (deletePlace)="deletePlace($event)">
          </app-places-autocomplete>
        </div>
      </div>
      <button [disabled]="displayAddButton()" (click)="addDestination()" type="button" class="btn btn_light my-3"> <span
          class="plus-icon">+</span> Add
        destination
      </button>
    </div>
  </div>
</main>
