 <div class="pac-card" id="pac-card">
   <div id="pac-container">
     <div class="form-group input-padding">
       <img src="./../../../assets/images/marker-icon.png" class="marker-icon" width="22" *ngIf="!place">
       <img src="./../../../assets/images/anim.png" class="marker-icon" width="18" *ngIf="place">
       <i class="cancel" aria-hidden="true" (click)="deleteInput()" *ngIf="displayRemoveIcon()">x</i>
       <input type="text" name="" #pacel placeholder="Where do you want to go?" class="form-control px-10">
     </div>
   </div>
 </div>
