 <!-- <div class="pac-card">
   <div id="pac-container">
     <div class="form-group input-padding">
       <img src="./../../../assets/images/marker-icon.png" class="marker-icon" width="22" *ngIf="!place">
       <img src="./../../../assets/images/anim.png" class="marker-icon" width="18" *ngIf="place">
       <i class="cancel" aria-hidden="true" (click)="deleteInput()" *ngIf="displayRemoveIcon()">x</i>
       <input type="text" name="" #pacel placeholder="Where do you want to go?" class="form-control px-10">
     </div>
   </div>
 </div> -->
 <mat-form-field class="example-form-field margin-5">
   <mat-label>Where do you want to go?</mat-label>
   <span matPrefix> <img src="./../../../assets/images/marker-icon.png" class="marker-icon" width="18" *ngIf="!place">
     <img src="./../../../assets/images/anim.png" class="marker-icon" width="15" *ngIf="place">
     &nbsp;</span>
   <input matInput ngx-google-places-autocomplete #placesRef="ngx-places"
     (onAddressChange)="handleAddressChange($event)" type="text" [options]='options' [value]="place?.title">
   <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteInput()" *ngIf="displayRemoveIcon()">
     <mat-icon>close</mat-icon>
   </button>
 </mat-form-field>
